<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分类页面</title>
    <link rel="stylesheet" href="./css/common.css" />
    <link rel="stylesheet" href="./css/category.css" />

    <script src="./js/flexible.js"></script>

</head>

<body>
    <!-- header区域 -->
    <div class="header">
        <div class="headerImg">
            <img src="./images/logo.png" alt="">
        </div>
        <div class="headerText">
            课程分类
        </div>
    </div>
    <!-- 分类区域 -->
    <div class="content">
        <div class="conBody">
            <div class="aside">
                <a href="#" class="active">前端</a>
                <a href="#">微信小程序</a>
                <a href="#">Vue.js</a>
                <a href="#">移动web开发</a>
                <a href="#">bootstrap</a>
            </div>
            <div class="conRi">
                <div class="jobClass">
                    <div class="jobText">就业班</div>
                    <div class="jobImg">
                        WEB前端在线就业班
                    </div>
                </div>
                <div class="proClass">
                    <div class="proTect">提高课</div>
                    <div class="proInp">
                        <div class="btn">Vue.js</div>
                        <div class="btn">bootstrap</div>
                        <div class="btn">前端</div>
                        <div class="btn">微信小程序</div>
                        <div class="btn">Vue.js</div>
                        <div class="btn">bootstrap</div>
                        <div class="btn">前端</div>
                        <div class="btn">微信小程序</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部区域 -->
    <div class="footer">
        <a class="fooindex" href="./index.html"><img src="./images/首页.png" alt=""><span>首页</span></a>
        <a class="foofenlei" href="./category.html"><img src="./images/fenlei.png" alt=""><span>分类</span></a>
    </div>

    <script src="./js/jquery.js"></script>
    <script src="./js/template-web.js"></script>
    <script src="./js/index.js"></script>

</body>

</html>