<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/common.css" />
    <link rel="stylesheet" href="./layui/css/layui.css" />
    <link rel="stylesheet" href="./css/category.css" />
</head>

<body>
    <!-- header区域 -->
    <header class="layui-fluid">
        <div class="layui-row head">
            <div class="layui-col-xs5 layui-col-sm5 layui-col-md5 logo">
                <img src="./images/logo.png">
            </div>
            <div class="layui-col-xs7 layui-col-sm7 layui-col-md7 headCo">
                课程分类
            </div>
        </div>
    </header>
    <!-- body区域 -->
    <div class="layui-fluid ">
        <div class="layui-row bodyer">
            <div class="layui-col-xs4 layui-col-sm4 layui-col-md4 navr">
                <ul class="layui-nav layui-nav-tree navli" lay-filter="test">
                    <li class="layui-nav-item "><a class="first" href="">前端</a></li>
                    <li class="layui-nav-item layui-bg-gray"><a href="">bootstrap</a></li>
                    <li class="layui-nav-item layui-bg-gray"><a href="">python</a></li>
                    <li class="layui-nav-item layui-bg-gray"><a href="">移动web开发</a></li>
                    <li class="layui-nav-item layui-bg-gray"><a href="">vue</a></li>
                </ul>
            </div>
            <div class="layui-col-xs8 layui-col-sm8 layui-col-md8 navcou">
                <div class="context">就业班</div>
                <div class="conimg">web前端在线就业班</div>
                <div class="context">提高课</div>
                <div class="proInp">
                    <div class="btn">Vue.js</div>
                    <div class="btn">bootstrap</div>
                    <div class="btn">前端</div>
                    <div class="btn">微信小程序</div>
                    <div class="btn">Vue.js</div>
                    <div class="btn">bootstrap</div>
                    <div class="btn">前端</div>
                    <div class="btn">微信小程序</div>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部区域 -->
    <!-- footer区域 -->
    <div class="footer">

        <div class="fooin">
            <a href="./index.html">
                <img src="./images/首页.png">
                <div>首页</div>
            </a>
        </div>
        <div class="foofen">
            <a href="./category.html">
                <img src="./images/fenlei.png">
                <div>分类</div>
            </a>
        </div>

    </div>
    <script src="./js/template-web.js"></script>
    <script src="./layui/layui.all.js"></script>
    <script src="./js/jquery.js"></script>
</body>

</html>