<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./layui/css/layui.css" />

    <link rel="stylesheet" href="./css/common.css" />
    <link rel="stylesheet" href="./css/index.css" />
</head>

<body>



    <!-- header区域 -->
    <header>
        <div class="layui-row head">
            <div class="layui-col-xs2 layui-col-sm2 layui-col-md2 post">
                <img src="./images/邮件.png">
            </div>
            <div class="layui-col-xs8 layui-col-sm8 layui-col-md8 logo">
                <img src="./images/logo.png">
            </div>
            <div class="layui-col-xs2 layui-col-sm2 layui-col-md2 server">
                <img src="./images/server.png">
            </div>
        </div>
    </header>
    <!-- body区域 -->
    <div class="layui-fluid bodyer">
        <!-- banner区域 -->
        <div class="layui-row banner">
        </div>
        <!-- 就业课区域 -->
        <div class="layui-card JobClass">
            <!-- <div class="layui-card-header JobText"><span class="layui-badge-dot layui-bg-blue"></span>就业课<span class="layui-badge-dot layui-bg-blue"></span></div> -->
            <div class="layui-card-header JobText">
                <div class="bdots"></div>
                就业课
                <div class="bdots"></div>
            </div>
            <div class="layui-row layui-card-body JobB">
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4 JobBody">
                    <img src="./images/java.png">
                </div>
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4 JobBody">
                    <img src="./images/python.png">
                </div>
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4 JobBody">
                    <img src="./images/ui.png">
                </div>
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4 JobBody">
                    <img src="./images/fe-list.png">
                </div>
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4 JobBody">
                    <img src="./images/java.png">
                </div>
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4 JobBody">
                    <img src="./images/python.png">
                </div>
            </div>
        </div>
        <!-- 微课区域 -->
        <div class="layui-card TiClass">
            <div class="layui-card-header JobText">
                <div class="bdots"></div>
                微课
                <div class="bdots"></div>
            </div>
            <div class="layui-row layui-card-body TiB">

            </div>
        </div>
    </div>
    <!-- footer区域 -->
    <div class="layui-fluid footer">

        <div class="fooin">
            <a href="./index.html">
                <img src="./images/首页.png">
                <div>首页</div>
            </a>
        </div>
        <div class="foofen">
            <a href="./category.html">
                <img src="./images/fenlei.png">
                <div>分类</div>
            </a>
        </div>

    </div>
    <script type="text/html" id="tinyA">
        {{each data}}
        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 TiBody">
            <div class="TiBodyImg">
                <img src="{{$value.img}}">
            </div>
            <div class="TiBoText">{{$value.name}}</div>
            <div class="layui-row TiBonum">
                <div class="layui-col-xs5 layui-col-sm5 layui-col-md5 study">
                    {{$value.count}}
                </div>
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4 layui-col-xs-offset3 layui-col-xs-sm3 layui-col-md-offset3 price">
                    {{$value.price}}
                </div>
            </div>
        </div>
        {{/each}}
    </script>
    <script src="./js/template-web.js"></script>
    <script src="./layui/layui.all.js"></script>
    <script src="./js/jquery.js"></script>
    <script src="./js/index.js"></script>
</body>

</html>