.layui-fluid {
    margin: 0 auto;
    padding: 0 0 0 0!important;
}

.JobText {
    line-height: 18px;
    padding-top: 10px;
    color: #446adf;
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bdots {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #446adf;
    margin: 5px;
}

.layui-card-header {
    border-bottom: none;
}

.layui-card-body {
    padding: 0;
}


/* 底部区域 */

.footer {
    height: 58px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #f3f3f3;
    position: fixed;
    bottom: 0;
}

.fooin {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fooin img {
    width: 30px;
    height: 30px;
}

.foofen {
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foofen img {
    width: 30px;
    height: 30px;
}

.layui-nav-tree {
    width: auto!important;
}